button {
    cursor: pointer;
    border: none;
    border-radius: 100px;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    color: var(--color-font);
    // transition: background-color .2s ease;
    &:hover {
        background-color: rgb(from var(--background-container) r g b / .2);
    }
}