:host {
    min-height: 100dvh;
    //// VERSION ORIGINALE pour Android (PC et mobile) : Avant version fix webkit
    /* display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 0fr;
    transition: grid-template-rows var(--transition-time-in-ms) ease;

    &:has(.grid-points .dot) {
        grid-template-rows: 1fr 5fr;
    } */
    /// FIN VERSION ORIGINALE

    /// VERSION de correct° bug Webkit (iPhone et iPad) sur Grid ///
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > *:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        height: 0;
        margin-top: 0;
        transition: height var(--transition-time-in-ms) ease, 
                    margin-top var(--transition-time-in-ms) ease;

        &:has(.grid-points .dot) {
            height: 65dvh;
            margin-top: 12dvh;
        }
    }
    /// FIN VERSION de correct° bug Webkit (iPhone et iPad) sur Grid ///
}

.wrapper-above-grid {
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
    position: relative;
    z-index: 1;
    animation: fadeInFromBottom 1s cubic-bezier(0.32, 0, 0.27, 0.97);

    &:before {
        content: "Schéma de verrouillage";
        font-size: clamp(1.3rem, 5vmin, 1.5rem);
        translate: 0 -2em;
    }
    &:after {
        /* Material Symbols - lock */
        font-family: 'Material Symbols Outlined';
        font-variation-settings:
            'FILL' 0,
            'wght' 300,
            'GRAD' 0,
            'opsz' 24;
        content: "\e897"; 
        font-size: clamp(1.3rem, 5vmin, 1.6rem);
        translate: 0 -3.6em;

        display: grid;
        place-items: center;
        width: 6vw;
        width: clamp(3rem, 11vmin, 4rem);
        font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
        translate: 0 -4.7em;
        background-color: var(--color-font);
        border-radius: 1000px;
        aspect-ratio: 1;
        color: var(--background-screen-from) !important;
    }
    &:before,
    &:after {
        position: absolute;
        color: var(--color-font);
        transition: opacity var(--transition-time-in-ms) ease;
    }

    &:has(~ app-grid .grid-points) {
        &:before,
        &:after {
            opacity: 1;
        }
    }
    &:has(~ app-grid .grid-points .dot) {
        &:before,
        &:after {
            opacity: 0;
        }
    }

    --message-top-position: max(7dvh, 40px);
}
@keyframes fadeInFromBottom {
    0% {
        translate: 0 200px;
        opacity: 0;
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
}