:host {
    display: flex;
    justify-content: center;
}

button {
    font-size: clamp(1rem, 2.1dvmin, 1.5rem);
    background-color: var(--background-container);
    -moz-backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    margin: 0 0.5rem;
    padding: 0.5rem 1.2rem;
    transition: background-color .2s ease;
    &:hover {
        background-color: rgb(from var(--background-container) r g b / .2);
    }
}