:host {
    display: contents;
}
.msg {
    --font-props: clamp(1rem, 4vmin, 1.5rem);
    font-size: var(--font-props);
    line-height: var(--font-props);
    color: var(--color-font);
    position: absolute;
    top: var(--message-top-position);
    width: calc(100vw - 2rem);
    text-align: center;
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-out;
    transition-delay: 0.15s;
    
    &.anim-up {
        animation-name: switchText;
        animation-duration: var(--animation-msg-in-ms);
        animation-fill-mode: forwards;
    }

    &.valid {
        color: var(--color-stroke-valid);
    }
    &.invalid {
        color: var(--color-stroke-error);
    }
}
@keyframes switchText {
    49% {
        margin-top: -2dvh;
        opacity: 0;
    }
    50% {
        margin-top: 2dvh;
    }
    100% {
        margin-top: 0dvh;
        opacity: 1;
    }
}