@use './styles/_generated-vars';

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root {
    /* Valeurs par défaut si pas définies dans 'constants.js' */
    --width-stroke: 6;
    --color-stroke: rgb(255, 217, 217);
    --color-stroke-error: rgb(255, 145, 145);
    --color-stroke-valid: rgb(145, 255, 151);

    --nb-points-par-lgn-col: 3;
    --nb-points: calc(var(--nb-points-par-lgn-col) * var(--nb-points-par-lgn-col));

    --diametre-point-hover: 6;
    --diametre-point: calc(var(--diametre-point-hover) / 2);
    @media screen and (max-width: 700px) and (pointer: fine) and (hover: hover) {
        --diametre-point: calc((var(--diametre-point-hover) - 1) / 2);
    }
    @media screen and (max-width: 360px) {
        --diametre-point: calc((var(--diametre-point-hover) - 2) / 2);
    }
    /* FIN Valeurs par défaut */

    --border-radius: 1vh;
    /* --transition-time: 500; */
    --transition-time-in-ms: calc(var(--transition-time) * 1ms);

    /* --animation-msg: 600; */
    --animation-msg-in-ms: calc(var(--animation-msg) * 1ms);

    /* couleurs éléments */
    --background-screen-from: hsl(260, 35%, 5%);
    --background-screen-to: hsl(260, 35%, 33%);
    --background-container: rgba(255, 255, 255, 0.1);
    --color-point: var(--color-stroke);
    --color-font: #fff;

    --animation-shrink: shrink;

    --side-grid: 80%;

    /* squares part */
    --squares-opacity: 0.15;
    --nb-range: 4;
    --time-animation-range-square-regular: 28;
    --time-animation-range-square-in-sec-regular: calc(var(--time-animation-range-square-regular) * 1s);
    --time-animation-range-square-slow: 43;
    --time-animation-range-square-in-sec-slow: calc(var(--time-animation-range-square-slow) * 1s);
    --time-animation-range-square-hidden: 1.5;
    --time-animation-range-square-in-sec-hidden: calc(var(--time-animation-range-square-hidden) * 1s);
    --space-between-squares: 5vmax;
    
    --time-transition-flipping-card: 0.8;

    --svg-dot-color: rgba(255, 255, 255, 0.7);
    --svg-line-color: rgba(255, 255, 255, 0.4);

    /* --time-pulse: 500; */
    --time-pulse-in-ms: calc(var(--time-pulse) * 1ms);

    /* --time-vibrate: 400; */
    --time-vibrate-in-ms: calc(var(--time-vibrate) * 1ms);

    /* --time-shrink: 400; */
    --time-shrink-in-ms: calc(var(--time-shrink) * 1ms);
}

* { /* Reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    /* min-height: 100%; */
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;

    @media screen and (orientation: landscape) and (pointer: coarse) and (hover: none) {
        &:before {
            z-index: 10000;
            content: "Pour une meilleure expérience,\Aorientez votre appareil en mode portrait. \AMerci";
            white-space: pre-wrap;
            position: fixed;
            background-color: #fff;
            inset: 0;
            display: grid;
            place-content: center;
            text-align: center;
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
}
body {
    /* min-height: 100dvh; */
    overflow: hidden;
    background: linear-gradient(to top, var(--background-screen-from) 50%, var(--background-screen-to) 100%); /* url("https://picsum.photos/1200/800") no-repeat center center; */ /* url("../svg/low-poly-grid-haikei.svg") no-repeat center center;background-size:cover; */

    &:has(.grid-points:not(:empty)) {
        grid-template-rows: 1fr 5fr;
    }
    &:has(.flip-card.flip-over) {
        pointer-events: none;
    }
}

body, .container, .points {
    touch-action: none; /* Disable touch actions to prevent pointercancel event */
}