@use './styles/_generated-vars';
@use './styles/components/buttons';

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
    /* Valeurs par défaut si pas définies dans 'app.constants.ts' */
    --width-stroke: 6;
    --color-stroke: rgb(255, 217, 217);
    --color-stroke-error: rgb(255, 145, 145);
    --color-stroke-valid: rgb(145, 255, 151);

    --nb-points-par-lgn-col: 3;
    /* FIN Valeurs par défaut */

    --border-radius: 2vh;
    --transition-time-in-ms: calc(var(--transition-time, 500) * 1ms);

    --animation-msg-in-ms: calc(var(--animation-msg, 600) * 1ms);

    /* couleurs éléments */
    --background-screen-from: hsl(260, 35%, 5%);
    --background-screen-to: hsl(260, 35%, 33%);
    --background-container: rgba(255, 255, 255, 0.1);
    --color-point: var(--color-stroke);
    --color-font: #fff;

    --side-grid: 80%;
 
    --time-transition-flipping-card: 0.8;

    --time-pulse-in-ms: calc(var(--time-pulse, 500) * 1ms);
    --time-vibrate-in-ms: calc(var(--time-vibrate, 400) * 1ms);
    --time-shrink-in-ms: calc(var(--time-shrink, 400) * 1ms);
}

* { /* Reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;

    // @media screen and (orientation: landscape) and (pointer: coarse) and (hover: none) {
    @media (any-pointer: coarse) and (any-hover: none)
       and (orientation: landscape)
       and (max-height: 500px) {  /* Smartphones en paysage UNIQUEMENT ('max-height: 500px' pour exclure les tablettes) */
        &:before {
            z-index: 10000;
            content: "Pour une meilleure expérience,\Aorientez votre appareil en mode portrait. \AMerci";
            white-space: pre-wrap;
            position: fixed;
            background-color: #fff;
            inset: 0;
            display: grid;
            place-content: center;
            text-align: center;
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
}
body {
    overflow: hidden;
    background: linear-gradient(to top, var(--background-screen-from) 50%, var(--background-screen-to) 100%); 
    // background: url("https://picsum.photos/1200/800") no-repeat center center; 

    &:has(.flip-card.flip-over) {
        pointer-events: none;
    }
}

body, .container, .points {
    touch-action: none; /* Disable touch actions to prevent pointercancel event */
}